*
{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: Noto Sans,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #464646;
    text-align: left;
    background-color: #f2f2f2;
}
a 
{
    text-decoration: none;
    color: #464646;
}
.header
{
    width: 100%;
    height: 120px;
    box-shadow: 0 7px 25px rgb(0 0 0 / 30%);
}
.header__wrap
{
    margin: 0 274px;
    display: flex;
}
.header__left
{
    height: 120px;
}
.imglogo
{
    width: 200px;
    height: 60px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.imglogo img 
{
    width: 100%;
    height: 100%;
}


.header__mid
{
    padding: 0px 44px;
    height: 120px;   
    
}
.header__menu
{
}
.header__menu ul 
{
    display: flex;
}
.header__menu ul li 
{
    list-style: none;
    font-size: 14px;
    width: auto;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.header__menu ul li a 
{
    text-decoration: none;
    color: rgba(0,0,0,1);
}
.header__search 
{
    display: flex;
}
.header__search__icon 
{
    width: 100px;
    height: 42px;
    position: relative;
    left: -30px;
    background-color: #E97430;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 12px 12px 0px;
}
.header__search__icon img 
{
    position: relative;
   width: 24px;
   height: 24px;
}
.header__search__input input
{
    position: relative;
    height: 40px;
    width: 550px; 
    border-right: none;
    border: 1px solid rgba(0,0,0,0.3);
}

.header__right
{
    height: 120px;
  display: flex;
}
.iconcall 
{
    position: relative;
    height: 50px;
    top: 50%;
    transform: translateY(-50%); 
     display: flex;
     padding-right: 65px;
}
.iconcall__img 
{
    padding-right: 20px;
}
.iconcall__text 
{
    width: 80px;
}
.login 
{
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}
.login .dangnhap 
{
    width: 110px;
   text-align: center;
   padding: 10px 0px;
}
.login .dangky 
{
    width: 110px;
    padding: 10px 0px;
   text-align: center;
   background-color: #E97430;
   color: #fff;
   font-weight: bold;
    
}

.hidepage
{
    margin: 40px 274px;
}

.container 
{
    width: 100%;
     height: 100%;
}
.container__background
{
    width: 100%;
     height: 250px;
    background: url(./img/logo/backgroundimage.png); 
}

.container__wrap 
{
    margin: 40px 548px;
}

.container__content 
{
    width: 100%;
    height: 250px;
    display: flex;
    
}
.container__content__background
{
    width: 100%;
}
.container__content__text
{
    width: 320px;
    height: 220px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 250px;
}
.container__content__text h1 
{
    width: 320px;
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
}
.container__content__text img 
{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
   padding: 30px 0px;
}
.container__content__text p 
{
    width: 320px;
    font-size: 12px;
}
.container__content__image
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container__main
{
    width: 100%;
    height: 100%;
}
.container__main__wrap
{
    margin: 0 274px;
    display: flex;
}
.container__main__menu
{
    margin-right: 100px;
}
.container__main__menu__first
{
    padding: 50px 0px 10px;
}
.container__main__menu__listmenu ul
{
    width: 180px;
}
.container__main__menu__listmenu ul li 
{
    list-style: none;
    display: flex;
    padding: 5px 0px;

}
.container__main__menu__listmenu ul li a 
{
    padding-right: 20px;
}

.container__main__listproduct
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 70px;
    padding: 50px 0px 10px;
}
.container__main__product
{
    width: 100%;
    height: 100%;
    
}
.container__main__product__image
{
    width: 220px;
    height: 220px;
    background-color: rgba(0,0,0,0.1);
}
.container__main__product__image img 
{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.container__main__product__name
{
    padding: 10px 0px 10px;
    color: rgba(0,0,0,0.6);
}
.container__main__product__price
{
   line-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.container__main__product__price p 
{
    color: #C48C46;
  
}
.container__main__product__iconheart
{
    position: relative;
    top: -5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
